﻿/* 見出し１ */
h1 {
	display:none;
}

#page_header table {
  width:100%; 
  height:50px;
  position:relative;
  top:0px;
  left:0px;
  border-bottom-style: solid;
  border-color: #000022;
}
/*
#header_img td {
  text-align:center;
  vertical-align:middle;
  padding:0px;
}
*/
#header_title td {
  text-align:center;
  vertical-align:middle;
  padding:0px;
}



#page_header #title_text {
  /*padding-left:120px;*/
  color:#222299; 
  font-weight:bold; 
  font-size:11pt;
  vertical-align:middle;
}



#page_header #header_info a img {
  border:0px 
  solid white;
  position:relative;
  top:3px;
}
