#PART_sidREQUEST_NO_A{
	width : 750px;
	height : 130px;
}

/* 【一覧の罫線定義】 */
#TH_g01 {
  border-collapse: collapse;
}

#TH_g01 thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_g01 tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}