/* 【一覧の罫線定義】 */
#TH_g_detail,
#TH_g_contact_detail

{
  border-collapse: collapse;
}

#TH_g_detail thead tr th,
#TH_g_contact_detail thead tr th

{	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}


#TH_g_detail tbody tr td,
#TH_g_contact_detail tr td

{	/* 一覧データ部 */
  border: 1px #cccccc solid;
}