/* 【一覧の罫線定義】 */
#TH_g_detail,
#TH_g_contact_detail,
#TH_g_logistics_section,
#TH_g_cost_burden,
#TH_g_request_section

{
  border-collapse: collapse;
}

#TH_g_detail thead tr th,
#TH_g_contact_detail thead tr th,
#TH_g_logistics_section thead tr th,
#TH_g_cost_burden thead tr th,
#TH_g_request_section thead tr th

{	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}


#TH_g_detail tbody tr td,
#TH_g_contact_detail tr td,
#TH_g_logistics_section tr td,
#TH_g_cost_burden tr td,
#TH_g_request_section tr td

{	/* 一覧データ部 */
  border: 1px #cccccc solid;
}